*{
    margin: 0;
    padding: 0;
}

h1{
    color: slateblue;
    background-color: khaki;
}

h2{
    color: rgb(169, 90, 205);
    background-color: khaki;
}

/* article > p {
    font-size: 16px;
} */

.article_p {
    font-size: 1.5rem;
}

#footer_p {
    color: lightpink;
}

ul {
    background-color: blanchedalmond;
}

li {
    background-color: rgb(132, 163, 163);
}

li:nth-child(2n) {
    background-color: darkseagreen;
}

img {
    max-width: 12vw;
}